section.hero_panel {
    height: 100vh;
    margin: 0;
    position: relative;
    background-image: url(https://unsplash.it/4288/2848?image=717);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.hero_panel h1 {
    position: absolute;
    font-size: 5em;
    font-weight: lighter;
    color: white;
    letter-spacing: 0.2em;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.hero_panel img {
    position: absolute;
    width: 2%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}