* {
    box-sizing: border-box; 
}

section.hero_panel {
    position: relative;
    background-image: url(https://unsplash.it/4288/2848?image=717);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 95vh;
    margin: auto;
}

.hero_intro{
    padding-top: 35vh;
}

section.hero_panel h1 {
    font-size: 2.7em;
    font-weight: lighter;
    color: white;
    letter-spacing: 0.2em;
}

.arrows {
    display: block;
    margin: auto;
    margin-top: -2em;
    height: 3em;
    cursor: pointer;
}

.arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 5px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
}

.arrows path:hover {
    stroke: #f71862;
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow 
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s;
}

/*Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default*/

/*Small devices (landscape phones, 568px and up)*/
@media (min-width: 568px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  { 

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}
