
* {
    box-sizing: border-box; 
}

section.hero_panel {
    position: relative;
    background-image: url(https://unsplash.it/4288/2848?image=717);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: table;
    height: 95vh;
}

.hero_intro{
    padding-top: 35vh;
}

section.hero_panel h1 {
    font-size: 2.7em;
    font-weight: lighter;
    color: white;
    letter-spacing: 0.2em;
}

.button {
    width: 5%;
    height: auto;
}

.pulse {
    animation: pulse 2s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default*/

/*Small devices (landscape phones, 568px and up)*/
@media (min-width: 568px) { 
    .button {
        width: 2%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .button {
        width: 3%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  { 
    .button {
        width: 2%;
    }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

}
