* {
    font-family: 'Roboto Condensed', 'PT Mono', monospace, Arial, Helvetica, FreeSans, sans-serif;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

section.home_panel {
    margin: auto;
    position: relative;
    background-color: rgb(256, 256, 256);
}

section.section_summary {
    color: rgb(247, 24, 98);
    padding-left: 2em;
    padding-right: 2em;
}

section.section_summary.white {
    background-color: white;
}

section.section_summary.grey {
    background-color: lightgray;
}

h2 {
    font-size: 2em;
    padding: 0.5em;
    padding-top: 1em;
    margin: auto;
    text-align: left;
}

article {
    font-size: 1.2em;
    line-height: 1.4em;
}

.center {
    text-align: center;
}

.contact-div {
    padding: 0.3em;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default*/

/*Small devices (landscape phones, 568px and up)*/
@media (min-width: 568px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  { 
    article {
        padding-left: 5em;
        padding-right: 5em;
        padding-bottom: 2em;
        padding-top: 2em;
        line-height: 1.5em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    article {
        padding-left: 15em;
        padding-right: 15em;
        line-height: 1.6em;
    }

}