body {
    font-family: 'Roboto Condensed', 'PT Mono', monospace, Arial, Helvetica, FreeSans, sans-serif;
}

body {
    min-width: 640px;
    padding-top: 50px;
    background-color: rgb(242, 242, 242);
}

/*#contact {
color: blue;
}*/

section.section_summary {
    color: rgb(202, 207, 133);
}

/*use these sort of comment braces*/

section.home_panel {
    position: relative;
    z-index: 9999;
    background-color: rgb(100, 100, 100);
}

/*use these sort of comment braces*/

h2 {
    background-color: rgb(101, 142, 156);
    font-size: 1.6em;
    padding: 0.3em;
    margin: 0.8em 0em;
    width=1em;
    border-radius: 0.5;
}

/*one type in another type*/

.center {
    text-align: center;
}

.contact-div {
    padding: 0.3em;
}

h2 em {
    font-weight: bold;
}

/*one type in another type*/

/*h2 {
display: block;
font-size: 1.5em;
font-weight: bold;
margin: 0.83em 0;
}*/

/*768px or smaller*/
@media screen and (max-width: 768px) {
    body {
        background-color: green;
    }
    
@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
    