* {
    font-family: 'Roboto Condensed', 'PT Mono', monospace, Arial, Helvetica, FreeSans, sans-serif;
}

body {
    min-width: 640px;
    background-color: rgb(242, 242, 242);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/*#contact {
color: blue;
}*/


article {
    padding: 2em;
    border-width: 1em;
    border-color: blue;
}

section.home_panel {
    max-width: 60vw;
    margin: auto;
    position: relative;
    background-color: rgb(256, 256, 256);
}

section.section_summary {
    color: rgb(247, 24, 98);
}

div.col-lg-6 instaimg {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    font-size: 2.5em;
    margin: 0px;
}

h2 {
    background-color: rgb(101, 142, 156);
    font-size: 1.6em;
    padding: 0.5em;
    margin: 0.8em 0em;
    width=1em;
    border-radius: 0.5;
}

/*one type in another type*/

.center {
    text-align: center;
}

.contact-div {
    padding: 0.3em;
}

h2 em {
    font-weight: bold;
}

/*one type in another type*/

/*h2 {
display: block;
font-size: 1.5em;
font-weight: bold;
margin: 0.83em 0;
}*/

/*768px or smaller*/
@media screen and (max-width: 768px) {
    body {
        background-color: green;
    }

    @media screen and (max-width: 992px) {
        body {
            background-color: blue;
        }
