#instafeed {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.img-post{
    margin:5%;
    width: 89%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.img-post:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#more{
    color: lightgrey;
    margin: auto;
    background:none;
    font-size: ;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2%;
}

#instafeed a {
    width: 50%;
}

/*Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    #instafeed a {
        width: 33%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    #instafeed a {
        width: 33%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  { 
    #instafeed a {
        width: 33%;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #instafeed a {
        width: 25%;
    }
}


