/*We want a tab for the personal account and a tab for the professional account*/

#instafeed {
    width: auto%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.img-post{
    margin:5%;
    width: 89%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.img-post:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#more{
    border: none;
    margin: auto;
    margin-bottom: 1em;
    background:none;
    font-size: 1.5em;
    display: flex;
    color: rgb(247, 24, 98);
}

#instafeed a {
    width: 50%;
}

/*Extra small devices (portrait phones, less than 576px) No media query for `xs` since this is the default*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 568px) { 
    #instafeed a {
        width: 33%;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px)  { 
    #instafeed {
        padding-left: 5em;
        padding-right:5em;
    }
    #instafeed a {
        width: 25%;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #instafeed {
        padding-left: 15em;
        padding-right: 15em;
    }
}

/*Crazy large devices (ultrawide desktops, 2000px and up)*/
@media (min-width: 2000px) { 
    article {
        padding-left: 30em;
        padding-right: 30em;
    }
}


