
 body{
    margin:0;
}
 h1{
    font-size:2em;
    margin:.67em 0;
}
 *{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 body{
    margin:0;
    min-height:100%;
    background-color:#fff;
    font-family:Arial,sans-serif;
    font-size:14px;
    line-height:20px;
    color:#333;
}
 html.w-mod-touch *{
    background-attachment:scroll!important;
}
 h1,h2,h4{
    font-weight:bold;
    margin-bottom:10px;
}
 h1{
    font-size:38px;
    line-height:44px;
    margin-top:20px;
}
 h2{
    font-size:32px;
    line-height:36px;
    margin-top:20px;
}
 h4{
    font-size:18px;
    line-height:24px;
    margin-top:10px;
}
 p{
    margin-top:0;
    margin-bottom:10px;
}
 .w-container{
    margin-left:auto;
    margin-right:auto;
    max-width:940px;
}
 .w-container:before,.w-container:after{
    content:" ";
    display:table;
}
 .w-container:after{
    clear:both;
}
 @media screen and (max-width:991px){
     .w-container{
        max-width:728px;
    }
}
 @media screen and (max-width:479px){
     .w-container{
        max-width:none;
    }
}
 .w-richtext:before,.w-richtext:after{
    content:" ";
    display:table;
}
 .w-richtext:after{
    clear:both;
}
 .hero{
    position:relative;
    height:4000px;
}
 .space{
    position:fixed;
    width:100%;
    height:100vh;
    background-image:url(DSCF8789-HDR.png);
    background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
}
 .desk{
    position:fixed;
    z-index:1;
    width:100%;
    height:100vh;
    background-image:url(5D3_header.png);
    background-position:50% 50%;
    background-size:cover;
    background-repeat:no-repeat;
}
 .section{
    position:relative;
    z-index:1;
    margin-top:1000px;
    padding:150px 20px;
    background-color:#000000;
    color:#fff;
}
